._24OUzUa2SjssS1_EshUigc {
  width: 100%;
  list-style: none;
  text-align: center;
  text-decoration: none;
  ._283jLEQ1DhWAe2fw {
    font-size: 30px;
    color: #000;
  }
}
._2nq88U0e2iY4tDIjMmuVWA {
  text-align: center;
  p a {
    color: #000;
  }
}
