.rightContent {
  > div {
    background-color: red;
    text-align: right;
    padding-left: 650px;
  }
  nav {
    width: 100%;
    padding: 15px;
    position: relative;
    background-color: #fff;
    z-index: 999;
  }
}
